
/* Color palette */

:root {
    --black: #222;
    --white: #fff;
    --creme: #EDE2D8;
    --creme-2: #976C49;
}

body{
  font-family: 'PlayfairDisplay', serif;
}

/* Text styles */

@font-face{
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face{
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face{
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf');
}
@font-face{
    font-family: 'Playfair-bold';
    src: url('../fonts/PlayfairDisplay-Bold.ttf');
}
@font-face{
    font-family: 'Playfair-italic';
    src: url('../fonts/PlayfairDisplay-RegularItalic.ttf');
}

h1 {
  font-family: 'Playfair-bold';
  color: var(--black);
  letter-spacing: 7px;
  margin-top: 150px;
}
h3 {
  font-family: 'OpenSans-Light';
  display: block;
  color: var(--black);
  letter-spacing: 7px;
}
p, a {
  font-family: 'Playfair-italic';
  letter-spacing: 1px;
  line-height: 1.8;
  color: var(--black);
}

.menu-icon{
  display: none;
}
.close-icon {
  display: none;
}

img{
  box-shadow: 0px 4px 14px rgba(0,0,0, 0.4);
}

nav {
  position: fixed;
  z-index: 10;
  top: 32px;
  left: 32px;
}
nav a {
  display: block;
  line-height: 2;
  font-size: 12px;
}
a:hover {
  color: var(--creme-2);
}

p a{
  text-decoration: underline;
}

.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.alignItem-center{
  align-items: center;
}
.justify-center{
justify-content: center;
}
.justify-spaceBetween{
  justify-content: space-between;
}
.mb-60 {
  margin-bottom: 60px;
}
.centered-text{
 text-align: center;
}

.hero{
  width: 100vw;
  height: 100vh;
  background-image: url(../img/3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.hero-text{
  width: 100%;
}
.hero-text h1, .hero-text p, footer p{
color: var(--white) !important;
text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
}


.creme {
  width: 100vw;
  padding: 100px 0px;
  background-color: var(--creme);
}

.white {
  width: 100vw;
  padding: 100px 0px;
  background-color: var(--white) ;
}

.wrap{
  max-width: 800px;
  margin: 0 auto;
}

.logo{
  background-image: url(../img/leave-light.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.wedding-day{
  padding-bottom: 250px;
}
.about-villa{
  position: relative;
}
.about-villa .image-wrap{
  position: absolute;
  width: calc(100% - 40px);
  max-width: 800px;
  height: 500px;
  top: -250px;
  background-image: url("../img/villa.jpg");
  background-position: center;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-villa p {
  margin-top: 200px;
}

.button{
  padding: 16px;
  border: 1px solid var(--black);
}

.button:hover{
  padding: 16px;
  border: 1px solid var(--creme-2);
}

.stay img {
  width: 100%;
}
.stay-text{
  padding: 20px;
}

.video{
  height: 450px;
  overflow: hidden;
}

.photo {
  padding-bottom: 40px !important ;
}



footer{
  background-color: var(--black);
  color: var(--white);
  padding: 20px 0px;
}

@media (max-width: 767px){
  .mb-mob-60{
    margin-bottom: 60px;
  }
  .menu-icon{
    display: block;
    position: fixed;
    top: 24px;
    left: 24px;
    z-index: 9;
  }

  .menu-icon div{
    width: 20px;
    height: 3px;
    background-color: var(--black);
    margin-bottom: 3px;
  }

  .close-icon {
    display: block;
    position: fixed;
    top: 24px;
    right: 24px;
    width: 20px;
    height: 20px;
  }

 .wrap{
  margin: 0 20px;
  }

  .rsvp .justify-center{
    justify-content: flex-start;
  }

  .mobile-column {
    flex-direction: column;
    align-items: center;
  }

  nav{
    background-color: var(--creme);
    width: 100%;
    padding: 32px;
    display: none;
  }

  nav a{
    line-height: 35px;
    font-size: 14px;
  }

  nav.active{
    display: block;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 14px rgb(0,0,0, 0.5);
  }

  .cenered {
  text-align: center;
}
}
/* END */
