
/* Color palette */

:root {
    --black: #222;
    --white: #fff;
    --creme: #EDE2D8;
    --creme-2: #976C49;
}

body{
  font-family: 'PlayfairDisplay', serif;
}

/* Text styles */

@font-face{
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf');
}
@font-face{
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-Regular.ttf');
    /*src: url('../fonts/Audrey_Normal.otf');*/
}
@font-face{
    font-family:  'Mr';
    /*src: url('../fonts/North_Wave.otf');*/
    src: url('../fonts/MrDeHaviland-Regular.ttf');
}

h1 {
  font-family: 'Mr';
  color: var(--black);
  letter-spacing: 7px;
  margin-top: 150px;
  font-size: 100px;
}
h3 {
  font-family: 'Playfair';
  display: block;
  color: var(--black);
  letter-spacing: 7px;
  margin-left: 7px;
}
p, a, td, th {
  font-family: 'OpenSans-Light';
  letter-spacing: 1px;
  line-height: 1.8;
  color: var(--black);
}

.menu-icon{
  display: none;
}
.close-icon {
  display: none;
}

img, .image-wrap{
  box-shadow: 0px 4px 14px rgba(0,0,0, 0.4);
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 10;
  padding: 5px 0px;
  top: 0px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,0.7);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px); 
}
nav a {
  display: block;
  line-height: 2;
  font-size: 12px;
  margin-right: 20px;
  font-weight: 600;
}

a:hover {
  color: var(--creme-2);
}

p{
  font-size: 15px;
}

p a, td a{
  text-decoration: underline;
}

.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.alignItem-center{
  align-items: center;
}
.justify-center{
justify-content: center;
}
.justify-spaceBetween{
  justify-content: space-between;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-40 {
  margin-bottom: 40px;
}
.centered-text{
 text-align: center;
}

.hero{
  width: 100vw;
  height: 80vh;
  background-image: url(../img/3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.hero-text{
  width: 100%;
}
.hero-text h1, .hero-text p{
color: var(--white) !important;
text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
}
.hero-text .button{
  background-color: rgba(255,255,255,0.7);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px); 
  border: 1px solid transparent;
}


.creme {
  width: 100vw;
  padding: 100px 0px;
  background-color: var(--creme);
}

.creme-gradient{
  width: 100vw;
  padding: 100px;
  background: linear-gradient(white, #EDE2D8);
}

.white {
  width: 100vw;
  padding: 50px 0px;
  background-color: var(--white) ;
}

.wrap{
  max-width: 800px;
  margin: 0 auto;
}

.logo{
  background-image: url(../img/leave-light-2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.wedding-day{
  padding-bottom: 250px;
}
.about-villa{
  position: relative;
}
.about-villa .image-wrap{
  position: absolute;
  width: calc(100% - 40px);
  max-width: 800px;
  height: 500px;
  top: -250px;
  background-image: url("../img/villa1.jpg");
  background-position: center;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-villa p {
  margin-top: 200px;
}

.button{
  padding: 16px;
  border: 1px solid var(--black);
}

.button:hover{
  padding: 16px;
  border: 1px solid var(--creme-2);
}

.stay img {
  width: 100%;
}
.sleepingPlan.one::before{
 content: "1. Stock";
 position: absolute;
  top:-35px;
  left: 3px;
  font-size: 60px;
  font-family: "Mr";
}
.sleepingPlan.two::before{
  content: "2. Stock";
  position: absolute;
  top:-35px;
  left: 3px;
  font-size: 60px;
  font-family: "Mr";
}
.sleepingPlan.tree::before{
  content: "3. Stock";
  position: absolute;
  top:-35px;
  left: 3px;
  font-size: 60px;
  font-family: "Mr";
}

.sleepingPlan.one-ru::before{
 content: "1. Floor";
 position: absolute;
  top:-35px;
  left: 3px;
  font-size: 60px;
  font-family: "Mr";
}
.sleepingPlan.two-ru::before{
  content: "2. Floor";
  position: absolute;
  top:-35px;
  left: 3px;
  font-size: 60px;
  font-family: "Mr";
}
.sleepingPlan.tree-ru::before{
  content: "3. Floor";
  position: absolute;
  top:-35px;
  left: 3px;
  font-size: 60px;
  font-family: "Mr";
}

.sleepingPlan{
  padding: 8px;
}


.video{
  height: 450px;
  overflow: hidden;
}

.dresscode-colors{
  box-shadow: none;
  width: 50%;
  margin: 0 auto;
}

.photo {
  padding-bottom: 40px !important ;
}

.rsvp p {   
    font-family: 'OpenSans-Light';    
}
table{
  width: 600px;
}

.bottom-border{
  border-bottom-color: var(--creme);
border-bottom: 0.5px solid;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tr {border-bottom: 1px solid var(--creme-2);}
.tg td{padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}


footer{
  background-color: var(--black);
  padding: 20px 0px;
}
footer p{
  color: var(--white) !important;
}


@media (max-width: 767px){
  .mob-column{
    flex-direction: column;
  }
  .mb-mob-60{
    margin-bottom: 60px;
  }
  .menu-icon{
    display: block;
    position: fixed;
    top: 24px;
    left: 24px;
    z-index: 9;
  }

  .menu-icon div{
    width: 20px;
    height: 3px;
    background-color: var(--black);
    margin-bottom: 3px;
  }

  .close-icon {
    display: block;
    position: fixed;
    top: 24px;
    right: 24px;
    width: 20px;
    height: 20px;
  }

  .stay-text{
  padding: 20px;
}

 .wrap{
  margin: 0 20px;
  }

  .video{
  height: auto;
  }

  table{
  width: 300px;
}

  .rsvp .justify-center{
    justify-content: flex-start;
  }

  .mobile-column {
    flex-direction: column;
    align-items: center;
  }

  nav{
    background-color: var(--creme);
    width: 100%;
    padding: 32px;
    display: none;
  }

  nav a{
    line-height: 35px;
    font-size: 14px;
  }

  nav.active{
    display: block;
    transform: none;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 14px rgb(0,0,0, 0.5);
  }

  .cenered {
  text-align: center;
}
}
  /* END */
